{% extends 'base.html.twig' %}

{% block title %}{{title}} {{ controller_name }} Réciprocité 54{% endblock %}

{% block body %}


    <h1 class="display-4">{{ controller_name }}</h1>
    <h2>{{title}}</h2>



{% endblock %}
